apiVersion: v1
kind: Service
metadata:
  name: besu-svc
  annotations:
    "{{ service }}": "{{ loadbalancer }}"
spec:
  ports:
  - name: http-json-rpc
    port: 8545
    protocol: TCP
    targetPort: 8545
  - name: ws-json-rpc
    port: 8546
    protocol: TCP
    targetPort: 8546
  - name: http-graphql
    port: 8547
    protocol: TCP
    targetPort: 8547
  - name: http-engine-json-rpc
    port: 8550
    protocol: TCP
    targetPort: 8550
  - name: ws-engine-json-rpc
    port: 8551
    protocol: TCP
    targetPort: 8551
  - name: p2p-tcp
    port: 30303
    protocol: TCP
    targetPort: 30303
  - name: p2p-udp
    port: 30303
    protocol: UDP
    targetPort: 30303
  selector:
    app: besu
  sessionAffinity: None
  type: LoadBalancer
